<mat-toolbar color="primary">
    <span>DNYANRAJ'S PORTFOLIO</span>
    <span class="spacer"></span>
    <div class="centered-list">
        <mat-list>
            <a class="mat-list-item" href="#about">ABOUT</a>
            <a class="mat-list-item" href="#experience">EXPERIENCE</a>
            <a class="mat-list-item" href="#projects">PROJECTS</a>
            <a class="mat-list-item" href="#skills">SKILLS</a>
            <a class="mat-list-item" href="#education">EDUCATION</a>
            <a class="mat-list-item" href="#contact">CONTACT</a>
        </mat-list>
    </div>
</mat-toolbar>