<mat-card id="about">
    <mat-card-content>
        <h1>ABOUT</h1>
    <ul>
        <li>Software Engineer with 2+ years of Experience working on a micro frontend architecture.</li>
        <li>Expertize in Angular 8, Angular 14, Angular 17 while using Angular Material as a css framework and a year each experience in jest and jasmine for unit testing.</li>
        <li>Expertize in BDD Testing using cypress and cucumber.</li>
        <li>Experience working in advanced agile methodology and partcipated in PI planning</li>
        <li>Knowledge of Docker and kubernetes.</li>
    </ul>
    </mat-card-content>
</mat-card>
