<div id="experience">
    <h1>EXPERIENCE</h1>
    <mat-card>
        <mat-card-content>
            <h2>Future Focus Infotech (July 2023 - August 2024)</h2>
            <h3>Software Engineer</h3>
            <ul>
                <li>Created reusable components to reduce a large html component file from 24k lines to 12k lines
                    where one of the challenges is that the entire 24k line of code was of the table displayed on UI increasing performance by 20 %.</li>
                <li>Collaborated with multiple teams to implement micro front-end architecture, ensuring
                    stable, bug-free code.</li>
                <li>Recommended and implemented linting to tackle coding standards and reduce code
                    complexity across the application.</li>
                <li>Experience in writing unit test case using jest and BDD test case using cypress and
                    cucumber.</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h2>Future Focus Infotech (May 2022 - May 2023)</h2>
            <h3>Software Engineer</h3>
                <li>Experience developing highly interactive web applications utilizing HTML5, CSS3,
                    JavaScript, Angular and angular material.</li>
                <li>Experience in developing Modular and Reusable components and directives.</li>
                <li>Experience in writing unit test case using karma and jasmine.</li>
                <li>Experience in developing web applications using services, dependency injection, RXJS
                    operators, pipes.</li>
        </mat-card-content>
    </mat-card>
</div>
          