<mat-card id="projects">
    <mat-card-content>
        <h1>PROJECTS</h1>
        <mat-card class="card-width">
            <mat-card-content>
                <h2>Angular Portfolio</h2>
                <img src="assets/images/portfolio.png">
                <h3>Angular concepts and Angular 17 latest features with code snippets will be added in the dialog</h3>
                <h3><strong>Technology :</strong> Angular 17, Angular Material, EmailJS, Firebase</h3>
                <div class="button-container">
                    <button mat-stroked-button (click)="openDialog()">Code View</button>
                    <button mat-stroked-button (click)="goToLink('https://github.com/dnyanrajb/dnyanraj.b')">Github Link</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>