<mat-card id="contact">
    <mat-card-content>
        <h1>Contact Me</h1>
        <h2>Feel free to contact me</h2>
        <div class="contact-layout">
            <form class="contact-form" [formGroup]="contactForm">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput required formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input matInput required formControlName="subject">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput required formControlName="phone">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput required formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Your Message</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <button color="primary" mat-flat-button type="submit" class="send-button">Send</button>
            </form>
            <div class="contact-info">
                <p><strong>Phone</strong><br>+91 9019057460</p>
                <p><strong>Email</strong><br>dnyanrajb121&#64;gmail.com</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
